{{! 头部内容}}
<header class="navbar-fixed">
    <nav id="headNav" class="bf-color none-shadow">
        <div id="navContainer" class="container">
            <div class="nav-wrapper">
                <div class="brand-logo">
                    <a href="{{@blog.url}}" class="waves-effect waves-light">
                        {{#if @blog.logo}}
                        <img src="{{@blog.logo}}" class="logo-img hide-on-small-only">
                        {{else}}
                        <!-- <span class="logo-span">{{@blog.title}}</span> -->
                        <span class="logo-span">Blinkfox</span>
                        {{/if}}
                    </a>
                </div>

                {{! 导航菜单 }}
                {{navigation}}
            </div>
        </div>
    </nav>
</header>
