<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="matery2 , ghost-matery ,Ghost, blog, Ghost博客, Ghost主题, Ghost theme">
    <meta name="HandheldFriendly" content="True" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="image/png" rel="shortcut icon" href="{{asset "images/favicon.png"}}">
    <!-- <link type="text/css" rel="stylesheet" href="{{assets/plugins/awesome/css/font-awesome.min.css}}" /> -->
    <link type="text/css" rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {{! import styles }}
    <link type="text/css" rel="stylesheet" href="{{asset "plugins/materialize/css/materialize.min.css"}}" />
    <link type="text/css" rel="stylesheet" href="{{asset "plugins/prism/prism.css"}}" />
    <link type="text/css" rel="stylesheet" href="{{asset "css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body>

    {{! 网页头部}}
    {{> header}}

    {{{body}}}

    <!-- 页脚 -->
    {{> footer}}

    {{! 搜索遮罩框}}
    {{> search}}

    {{! 主题颜色设置}}
    {{> theme_change}}

    {{! 回到顶部按钮}}
    {{> back_top}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! import jQuery before materialize.min.js }}
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{asset "plugins/jquery/jquery-2.2.0.min.js"}}"><\/script>')</script>
    <script type="text/javascript" src="{{asset "plugins/materialize/js/materialize.min.js"}}"></script>
    <!-- <script type="text/javascript" src="http://cdn.bootcss.com/masonry/4.0.0/masonry.pkgd.min.js"></script> -->
    <script type="text/javascript" src="{{asset "plugins/masonry/masonry.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "plugins/prism/prism.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>
